.footer {
  width: 100%;
  background-color: #1e1e2f; /* dark background */
  /* color: white;
   */
  color: #ff8800; /* orange accent */

  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  position: fixed; /* sticks to bottom */
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

.footer h3 {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}
